.featured-product{
    margin: 160px 0 120px 0;
    
    h3{
        @extend %h3-style;
}

    .featured-product__title{
        @extend %text-color;
        font-family: $roboto-font;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        margin-top: 32px;
    }
}

.featured-product__line{
    width: 410px;
    height: 2px;
    background-color: $beige-color;
    margin: 5px auto;
}

.featured-product__content{
    justify-content: center;
    flex-wrap: wrap;
}

.featured-product__item{
    width: 300px;
    margin: 40px;
    display: flex;
    flex-direction: column;

    h5{
        font-family: $roboto-font;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: $title-color;
        margin-top: 30px;
    }

    p{
        font-family: $roboto-font;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: $title-color;
        margin: 15px 0;
    }
}

.featured-product__sell{
    justify-content: space-between;
}

.striked-price{
    text-decoration: line-through;
    font-family: $roboto-font;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: $beige-color;
    margin-right: 10px;
}

.nonstriked-price{
    font-family: $roboto-font;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: $title-color;
}
.striked-price__stars{
    margin-top: 5px;

    img{
        margin-right: 8px;
    }
}

.featured-product__button{
    @extend %beige-btn;
    padding: 6px 16px;
    cursor: pointer;
    line-height: 65px;

    &:hover{
        background-color: $white-color;
        border: 1px solid $beige-color;
    }
}

