$title-color: #34383D;
$roboto-font: 'Roboto', sans-serif;
$montserrat-font: 'Montserrat', sans-serif;
$beige-color: #CDA861;
$pink-color: #F5EEE1;
$white-color: #FFFFFF;
$pink-bg:rgba(205, 168, 97, 0.1);
$grey-bg: rgba(52, 56, 61, 0.2);
$grey-color: #F2F1F1;


%text-color{
    color: $title-color;
    opacity: 0.8;
}

%beige-btn{
    padding: 8px 20px;
    border: 2px solid #CDA861;
    border-radius: 50px;
    text-decoration: none;
    font-family: $montserrat-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    background-color: $beige-color;
    color: $title-color;
    box-shadow: 0px 5px 10px rgba(205, 168, 97, 0.29);
}